#foo{
    float: right;
}
body {
    height:100%;
    width: 100%;
}


#bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; /*used to determine the order of layers displayed*/
}
#GruCVtitle{
    text-align: center;
}
main{
    backdrop-filter: blur(15px);
    width:100%;
}

footer{
    position: absolute;
    backdrop-filter: blur(15px);
    width: 100%;
    top: 1100px;
}

.f_a{
    color: black;
}

