header{background-color: tomato;}
main{backdrop-filter:blur(75px);}
#foo{
    float: right;
}

#work_history{
    background-color: green;
}

#skills{
    background-color: tomato;
}

#family{
    background-color: brown;
}

body {
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    backdrop-filter:sepia(75%);
}
footer{background-color: blue;}
